<div class="mt-4 ms-4">
  <h2>All Employees</h2>
  <div class="d-flex flex-row flex-wrap mt-4">
  <div class="card d-flex  me-4 mb-4" *ngFor="let user of users">
    <i class="bi bi-person display-3" style="font-size: 3.5rem;"></i>
    <div class="d-flex flex-column align-items-start text-start">
      <span class="detail">Name: {{ user.name }}</span>
      <span class="detail">Email: {{ user.email }}</span>
      <span class="detail">City: {{ user.address.city }}</span>
    </div>
</div>
</div>
