.card {
  width: 250px;
  height: 250px;
  text-align: -webkit-center;
  padding: 30px
}
i {
  color: burlywood;
}
// .card:hover {
//   border: 1px solid burlywood;
//   cursor: pointer;
//   background-color: burlywood;
//   span {
//     color: white;
//   }
//   i {
//     color: white;
//   }
// }

.detail{
  word-break: break-all;
}
