<div  class="container-fluid px-5">
  <!-- style="text-align: center" -->
  <h1 class="mt-4 display-4">IT Dept employee Registration</h1>


<div
  class="mt-5 d-flex align-items-start"
  style="min-height: 60vh"
>
 <!-- justify-content-center  -->
  <div class="w-100" style="max-width: 600px">
    <!-- <h2 class="text-center">Employee Details</h2> -->
    <jsonforms
      [data]="data"
      [schema]="schema"
      [uischema]="uischema"
      [renderers]="renderers"
      [config]="{ submitted: submitted }"
      [validationMode]="validationMode"
      (dataChange)="onDataChange($event)"
    ></jsonforms>
    <button class="btn mt-4 mb-5 brown-btn" (click)="onSubmit()">Submit</button>
  </div>
</div>

<!-- [ajv]="ajv" -->
<!-- hide form show data, nav back to DASH -->
</div>
