.form {
  margin: 3rem;
}

.designation-badge {
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
  color: white
}

.brown-btn {
  background-color: burlywood;
  color: white;
  font-weight: 500;
}

